/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-color: #000028; /* цвет бэкграунда */
  --bg-image: url(../images/cover-image-dark.png); /* бэк картинка */
  --text-color: #f1b2ce; /* цвет основного текста */
  --accent-color: #ff0070; /* фоновый цвет выделенных акцентом элементов */
  --title-color: #db00ff; /* цвет главного заголовка */
  --main-font: "IBM Plex Mono"; /* основной шрифт на странице */
  --title-decor-color: #000028; /* цвет выделенных акцентом элементов */
  --subtitle-color: #ff0070; /* цвет подзаголовков и декоративных элементов */
  --hover-color: #ff007066; /* цвет обводки (с opacity) кнопок при наведении */
}
