/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --bg-color: #000028; /* цвет бэкграунда */
  --bg-image: url(../images/cover-image-dark.png); /* бэк картинка */
  --text-color: #f1b2ce; /* цвет основного текста */
  --accent-color: #ff0070; /* фоновый цвет выделенных акцентом элементов */
  --title-color: #db00ff; /* цвет главного заголовка */
  --main-font: "IBM Plex Mono"; /* основной шрифт на странице */
  --title-decor-color: #000028; /* цвет выделенных акцентом элементов */
  --subtitle-color: #ff0070; /* цвет подзаголовков и декоративных элементов */
  --hover-color: #ff007066; /* цвет обводки (с opacity) кнопок при наведении */

  --content-section-padding: 10px; /* отступ основного контента от границ страницы */
  --article-indent: 50px; /* отступ между секциями на странице */
}

@media (width >= 768px) {
  :root {
    --content-section-padding: 20px;
    --article-indent: 80px;
  }
}
